---
import SectionHeading from "../ui/SectionHeading.astro";

const contactInfo = {
	email: "hey@prnsh.site",
	x: "https://x.com/prnshtwt",
};
---

<section class="space-y-4">
  <SectionHeading command="less" heading="contact" extension="txt" />
  <p>
    you can reach me at
    <a href={`mailto:${contactInfo.email}`} class="text-yellow-500 hover:text-yellow-600 highlight"> {contactInfo.email}</a>
    or just shoot me a dm over at
    <a href={`https://x.com/prnshtwt`} target="_blank" rel="noopener noreferrer" class="text-cyan-500 hover:text-cyan-600 highlight">
      twitter/x
    </a>
  </p>
  
</section> 
