@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-black text-neutral-300;
	}

	h1 {
		@apply text-xl font-bold text-white;
	}

	h2 {
		@apply text-base font-bold text-white;
	}

	h3 {
		@apply text-base font-semibold text-white;
	}

	p {
		@apply text-base leading-relaxed;
	}

	article h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-pixel);
		@apply tracking-wider font-black text-lg;
	}

	.highlight {
		@apply border-b pb-1 border-current border-dashed;
	}

	.font-pixel {
		font-family: var(--font-pixel);
		@apply tracking-wider font-black;
	}
}

@layer components {
	.tech-tag {
		@apply inline-block bg-neutral-700 text-neutral-300 px-3 py-1 rounded-lg text-sm;
	}
}
