---
const currentYear = new Date().getFullYear();
---

<footer class="flex gap-2 flex-wrap items-center justify-between border-t border-neutral-700 pt-4 pb-12 mt-6">
  <p class="text-sm text-gray-400">© {currentYear} prnsh.site</p>
  <p class="text-sm text-gray-400">built with astro & lots of design inspiration from around the web</p>
</footer>
