---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="dark bg-black text-neutral-300">
    <main class={`flex flex-col gap-12 max-w-3xl mx-auto px-4 ${className}`}>
      <slot />
		</main>
	</body>
</html>
