---
const { command = "cat", heading, extension = "md" } = Astro.props;
---

<h2 class="font-pixel text-neutral-400 text-lg">$ {command} <span class="text-white">{heading}</span>{extension ? `.${extension}` : ""}</h2>
